.box {

}
#snake {
			position: absolute;
			width: 300px;
			height: 300px;
			border: 1px solid blue;
			background-image: url('grace.jpg');
			background-size: 15px 15px;
			display: flex; 
			color: red;
		}
==